@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/montserrat-v24-latin_cyrillic-regular.woff2') format('woff2'),
        url('/fonts/montserrat-v24-latin_cyrillic-regular.woff') format('woff')
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/montserrat-v24-latin_cyrillic-600.woff2') format('woff2'),
        url('/fonts/montserrat-v24-latin_cyrillic-600.woff') format('woff')
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/montserrat-v24-latin_cyrillic-700.woff2') format('woff2'),
        url('/fonts/montserrat-v24-latin_cyrillic-700.woff') format('woff')
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/montserrat-v24-latin_cyrillic-800.woff2') format('woff2'),
        url('/fonts/montserrat-v24-latin_cyrillic-800.woff') format('woff')
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    outline: transparent;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

:root {
    --gutters: 40px;
    --color-brand: rgba(255, 153, 0, 1);
    --color-brand-hover: rgba(255, 153, 0, 0.7);
    --color-brand-active: rgba(225, 103, 14, 1);
    --color-white: #FFFFFF;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: calc(1770px + var(--gutters) * 2);
    margin: 0 auto;
    padding: 0 var(--gutters);
}

.button {
    padding: 24px 36px;
    background-color: var(--color-brand);
    color: var(--color-white);
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.button:hover {
    background-color: var(--color-brand-hover);
}

.button:active {
    background-color: var(--color-brand-active)
}

.header {
    padding: 14px 0;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: 72px;
}

.header__nav {}

.header__links {
    display: flex;
    align-items: center;
}

.header__link {
    margin-right: 85px;
}

.header__link:last-child {
    margin-right: 0;
}


.header__search {}

.slider {
    max-height: 620px;
    height: calc(100vh - 100px);
}

.slider__container,
.slider__swiper,
.slider__swiper-wrapper,
.slider__slide {
    height: 100%;
}

.slider__container {
    position: relative;
}

.slider__text-content {
    color: var(--color-white);
    position: absolute;
    max-width: 836px;
    left: 120px;
    top: 100px;
}

.slider__heading {
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    margin-bottom: 24px;
}

.slider__description {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 90px;
}

.about__container {
}

.about__header {
    margin-top: 100px;
}

.about__text {
    margin-top: 20px;
    width: ;
}